# PANDAS

- It is built on top of Numpy and is design for data manipulation and analysis offering labeled and tabular data structure
-  DataFrames are essentially multidimensional arrays with attached row(index) and column labels, and often with heterogeneous types and/or missing data

In [43]:
import numpy as np 
import pandas as pd

## Pandas Object

- At the very basic level, Pandas objects can be thought of as enhanced versions of
NumPy structured arrays in which the rows and columns are identified with labels
rather than simple integer indices.

### Pandas Series Object

- 1D array of indexed object

In [44]:
data = pd.Series([4332,2245,634,4535,2352])
print(data)
print(data.values)
print(data.index)
print(data[1])
print(data[1:3])

print("\n")

data = pd.Series(5, index=[100, 200, 300])
print(data)

print("\n")

#  Series as generalized NumPy array
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                    index=['a', 'b', 'c', 'd'])         # even use noncontiguous or nonsequential indices
print(data)
print(data['b'])

print("\n")

#  Series as specialized dictionary
population_dict  =  {'California': 38332521,
                     'Texas': 26448193,
                     'New York': 19651127,
                     'Florida': 19552860,
                     'Illinois': 12882135}
population = pd.Series(population_dict)
print(population)                                   
print(population['California'])
print(population['California':'Florida'])

0    4332
1    2245
2     634
3    4535
4    2352
dtype: int64
[4332 2245  634 4535 2352]
RangeIndex(start=0, stop=5, step=1)
2245
1    2245
2     634
dtype: int64


100    5
200    5
300    5
dtype: int64


a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64
0.5


California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64
38332521
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
dtype: int64

### Pandas DataFrame Object

- 2D array of indexed object

In [45]:
#  DataFrame as a generalized NumPy array
data_1 = pd.Series([0.25, 0.5, 0.75, 1.0],
                    index=['a', 'b', 'c', 'd'])

data_2 = pd.Series([1,2,3,4],
                   index=['a', 'b', 'c', 'd'])

data_3 = pd.Series([1/2 , 1/3 , 1/4 , 1/5],
                   index=['a','b','c','e'])                   
num = pd.DataFrame({'int':data_2 , 'float':data_1 , 'reciprocal':data_3})
print(num)


print("\n")


area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
                'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
print(area)

state = pd.DataFrame({'Population': population ,'Area':area})
print(state)
print(state.index)
print(state.columns)
print(state['Area'])

   int  float  reciprocal
a  1.0   0.25    0.500000
b  2.0   0.50    0.333333
c  3.0   0.75    0.250000
d  4.0   1.00         NaN
e  NaN    NaN    0.200000


California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64
            Population    Area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995
Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')
Index(['Population', 'Area'], dtype='object')
California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: Area, dtype: int64

In [46]:
# Constructing DataFrame objects
y = pd.DataFrame(population ,columns=['population'])            # index define to row and columns to column obviously
print(y)
x = pd.DataFrame({'Population':population})
print(x)
print('\n')
x = pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])
print(x)
print('\n')
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
print(A)
pd.DataFrame(A)

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
            Population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135


        foo       bar
a  0.766131  0.920823
b  0.244733  0.749249
c  0.277639  0.371276


[(0, 0.) (0, 0.) (0, 0.)]

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

### Pandas Index Object

- Its is simillar to numpy array

In [47]:
ind = pd.Index([2, 3, 5, 7, 11])
print(ind)

#  Index as immutable array
print(ind[2])
ind[::2]
print(ind.size, ind.shape, ind.ndim, ind.dtype)
# ind[1] = 99                                       # unlike numpy array it is immutable

print('\n')

#  Index as ordered set
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])
print(indA & indB)  # intersection
print(indA | indB)  # union
print(indA ^ indB)  # symmetric difference

Index([2, 3, 5, 7, 11], dtype='int64')
5
5 (5,) 1 int64


Index([0, 3, 5, 7, 9], dtype='int64')
Index([3, 3, 5, 7, 11], dtype='int64')
Index([3, 0, 0, 0, 2], dtype='int64')

## Data indexing and Selection

###  Data Selection in Series

In [48]:
# Series as dictionary
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                index=['a', 'b', 'c', 'd'])
print('a' in data)
print(data.keys())
print(list(data.items()))
data['e'] = 1.25
data['d'] = 1.01
print(data)

print("\n")

# Series as one-dimensional array
print(data['c':'e'])     # slicing by explicit index
print(data[0:2])            # slicing by implicit integer index
print(data[(data > 0.3) & (data < 0.8)])       # masking
print(data[['a', 'e']])              # fancy indexing

True
Index(['a', 'b', 'c', 'd'], dtype='object')
[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]
a    0.25
b    0.50
c    0.75
d    1.01
e    1.25
dtype: float64


c    0.75
d    1.01
e    1.25
dtype: float64
a    0.25
b    0.50
dtype: float64
b    0.50
c    0.75
dtype: float64
a    0.25
e    1.25
dtype: float64

### Indexers: loc, iloc, and ix

- loc always references the explicit index
- iloc always references the implicit Python-style index

+ “explicit is better than implicit.”

In [49]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
print(data)
print(data.loc[1])
print(data.loc[1:3])

print("")

print(data.iloc[1])
print(data.iloc[1:3])

1    a
3    b
5    c
dtype: object
a
1    a
3    b
dtype: object

b
3    b
5    c
dtype: object

###  Data Selection in DataFrame

In [50]:
# DataFrame as a dictionary
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                'New York': 19651127, 'Florida': 19552860,
                'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'population':pop})
print(data)
print(data['area']) #dictionary-style indexing of the column name
print(data.area)    #column names that are strings
data['density'] = data['population'] / data['area']
print(data)

              area  population
California  423967    38332521
Texas       695662    26448193
New York    141297    19651127
Florida     170312    19552860
Illinois    149995    12882135
California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64
California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64
              area  population     density
California  423967    38332521   90.413926
Texas       695662    26448193   38.018740
New York    141297    19651127  139.076746
Florida     170312    19552860  114.806121
Illinois    149995    12882135   85.883763

In [51]:
# DataFrame as two-dimensional array
data.values
print(data.T)
print(data.values[0])
print(data['area'])
print(data.iloc[:4, :1])                      # while indexing refers to columns, slicing refers to rows
print(data.loc[:'Illinois', :'population'])
print(data.loc[data.density > 100, ['population', 'density']])
data.iloc[0, 2] = 90
print(data)

              California         Texas      New York       Florida  \
area        4.239670e+05  6.956620e+05  1.412970e+05  1.703120e+05
population  3.833252e+07  2.644819e+07  1.965113e+07  1.955286e+07
density     9.041393e+01  3.801874e+01  1.390767e+02  1.148061e+02

                Illinois
area        1.499950e+05
population  1.288214e+07
density     8.588376e+01
[4.23967000e+05 3.83325210e+07 9.04139261e+01]
California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64
              area
California  423967
Texas       695662
New York    141297
Florida     170312
              area  population
California  423967    38332521
Texas       695662    26448193
New York    141297    19651127
Florida     170312    19552860
Illinois    149995    12882135
          population     density
New York    19651127  139.076746
Florida     19552860  114.806121
              area  population     density
California  423967    38332521   90.000000
Texas       695662    26448193   38.018740
New York    141297    19651127  139.076746
Florida     170312    19552860  114.806121
Illinois    149995    12882135   85.883763

## Operating on Data in Pandas

In [52]:
# Ufuncs: Index Preservation
rng = np.random.RandomState(42)
ser = pd.Series(rng.randint(0, 10, 4))
print(ser)
print(np.exp(ser))
df = pd.DataFrame(rng.randint(0, 10, (3,4)),
                columns=['A', 'B', 'C', 'D'])
print(df)
print(np.sin(df * np.pi / 4))

print("\n")

# UFuncs: Index Alignment
area = pd.Series({'Alaska': 1723337, 'Texas': 695662,
                  'California': 423967}, name='area')
population = pd.Series({'California': 38332521, 'Texas': 26448193,
                         'New York': 19651127}, name='population')
density = population/area
print(density)                      # Nan == Not a number

print("\n")

A = pd.Series([2, 4, 6], index=[0, 1, 2])
B = pd.Series([1, 3, 5], index=[1, 2, 3])
print(A + B)

print("\n")

#  Index alignment in DataFrame

a = pd.DataFrame(rng.randint(0,10,(3,3)),           # Use a+b for simple calculation
                 columns=list('ABC'))             # and use a.add(b) for not to see NaN
b = pd.DataFrame(rng.randint(0,10,(4,4)),
                 columns=list('ABCD'))

print(b)                                        # + - a.add(b)      # * - a.mul(b)
print(a.add(b,fill_value=0))                    # - - a.sub(b)      # / - a.div(b)

0    6
1    3
2    7
3    4
dtype: int32
0     403.428793
1      20.085537
2    1096.633158
3      54.598150
dtype: float64
   A  B  C  D
0  6  9  2  6
1  7  4  3  7
2  7  2  5  4
          A             B         C             D
0 -1.000000  7.071068e-01  1.000000 -1.000000e+00
1 -0.707107  1.224647e-16  0.707107 -7.071068e-01
2 -0.707107  1.000000e+00 -0.707107  1.224647e-16


Alaska              NaN
California    90.413926
New York            NaN
Texas         38.018740
dtype: float64


0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64


   A  B  C  D
0  0  9  2  6
1  3  8  2  4
2  2  6  4  8
3  6  1  3  8
      A     B     C    D
0   1.0  16.0   7.0  6.0
1   4.0  12.0   2.0  4.0
2  11.0  11.0  12.0  8.0
3   6.0   1.0   3.0  8.0

In [53]:
#  Ufuncs: Operations Between DataFrame and Series
A = rng.randint(10, size=(3, 4))
df = pd.DataFrame(A,columns=list('PQRS'))
x = df - df.iloc[0]                         # index wise 
print(x)
y = df.subtract(df['R'], axis=0)            # column wise but need to define axis
print(y)

print("\n")

halfrow = df.iloc[0,::2]                      # automatically align indices between the two elements
print(halfrow)
z = df - halfrow
print(z)

   P  Q  R  S
0  0  0  0  0
1  3 -8 -5 -3
2  6 -7 -8 -6
   P  Q  R  S
0 -7  1  0  1
1  1 -2  0  3
2  7  2  0  3


P    1
R    8
Name: 0, dtype: int32
     P   Q    R   S
0  0.0 NaN  0.0 NaN
1  3.0 NaN -5.0 NaN
2  6.0 NaN -8.0 NaN

## Handling Missing Data

-   Data handling revolve around one of two strategies: using a mask that globally indicates missing values, or choosing a sentinel value that indicates a missing entry.

###  Missing Data in Pandas

- NaN (Not a Number) is the standard missing value marker used in NumPy and thus also in Pandas.

- None is the standard Python singleton for missing or undefined data, and Pandas automatically converts it to NaN where needed

In [54]:
# None: Pythonic missing data
vals1 = np.array([1, None, 3, 4])           # it cannot be used in any arbitrary NumPy/Pandas array
print(vals1.dtype)                                          #  but only in arrays with data type 'object' 
#vals1.sum()                                   # This reflects that addition between an integer and None is undefined

print("\n")

#  NaN: Missing numerical data
vals2 = np.array([1, np.nan, 3, 4])
print(vals2.dtype)

x = 1 + np.nan                  # this means that aggregates over the values are well defined
print(x)                        # (i.e., they don’t result in an error) but not always useful               
y = 2*np.nan
print(y)   
print(vals2.sum(), vals2.min(), vals2.max())
print( np.nansum(vals2), np.nanmin(vals2), np.nanmax(vals2))

object


float64
nan
nan
nan nan nan
8.0 1.0 4.0

In [55]:
# NaN and None in Pandas 
a = pd.Series([1, np.nan, 2, None])     # Both None and np.nan become NaN
print(a)                                # Resulting dtype become float64

b = pd.Series([0, 1], dtype=int)        # None will become NaN
b[0] = None                             # Int will converted to Float
print(b)

# Typeclass          stored                 NA sentinel
# float              no change              np.nan
# object             no change              none or np.nan
# int                cast to float64        np.nan
# bool               cast to object         none or np.nan

  # Even strings are stored as object dtype by default.
  # Missing strings (None or np.nan) will result in NaN
    # with object dtype unless you use the newer string dtype (available in newer Pandas versions).

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64
0    NaN
1    1.0
dtype: float64

###  Operating on Null Values

In [56]:
# Detecting Null Values
data = pd.Series([1, np.nan, 'hello', None])
print(data.isnull())                            # isnull() :- detect NaN or None, return True
print(data.notnull())                           # notnull() :- opposite of isnull()                  
print(data[data.notnull()])

print("\n")

# Dropping Null Values
print(data.dropna())


df = pd.DataFrame(rng.randint(0, 10, (3,4)),
                columns=['A', 'B', 'C', 'D'])

df.loc[(1,'B')] = None
print(df)
print(df.dropna())                     # Drops rows with any NaN
print(df.dropna(axis=1))              # Drops columns with any NaN
print(df.dropna(axis=1, how='all'))   # Drops columns where all values are NaN
print(df.dropna(thresh=3))            # Keeps only rows with at least 3 non-null values

print("\n")

# Filling Null Values
print(data.fillna(999))
print(data.fillna(method='ffill'))  # forward fill(propagate previous value)
print(data.fillna(method='bfill'))  # backward fill(use next valid value)

print(df.fillna(method='ffill', axis=1))

0    False
1     True
2    False
3     True
dtype: bool
0     True
1    False
2     True
3    False
dtype: bool
0        1
2    hello
dtype: object


0        1
2    hello
dtype: object
   A    B  C  D
0  1  7.0  3  1
1  5  NaN  9  3
2  5  1.0  9  1
   A    B  C  D
0  1  7.0  3  1
2  5  1.0  9  1
   A  C  D
0  1  3  1
1  5  9  3
2  5  9  1
   A    B  C  D
0  1  7.0  3  1
1  5  NaN  9  3
2  5  1.0  9  1
   A    B  C  D
0  1  7.0  3  1
1  5  NaN  9  3
2  5  1.0  9  1


0        1
1      999
2    hello
3      999
dtype: object
0        1
1        1
2    hello
3    hello
dtype: object
0        1
1    hello
2    hello
3     None
dtype: object
     A    B    C    D
0  1.0  7.0  3.0  1.0
1  5.0  5.0  9.0  3.0
2  5.0  1.0  9.0  1.0

C:\Users\Ayush\AppData\Local\Temp\ipykernel_14372\3144362768.py:27: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(data.fillna(method='ffill'))  # forward fill(propagate previous value)
C:\Users\Ayush\AppData\Local\Temp\ipykernel_14372\3144362768.py:28: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(data.fillna(method='bfill'))  # backward fill(use next valid value)
C:\Users\Ayush\AppData\Local\Temp\ipykernel_14372\3144362768.py:30: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(df.fillna(method='ffill', axis=1))

## Hierarchical Indexing

### A Multiply Indexed Series

In [57]:
# Bad Way
index = [('California', 2000), ('California', 2010),
         ('New York', 2000), ('New York', 2010),
         ('Texas', 2000), ('Texas', 2010)]
pop = pd.Series([33871648, 37253956, 18976457, 19378102, 20851820, 25145561], index=index)
                        # Here find data for 2000 or 2010 is difficult and slow

# Better Way
index = pd.MultiIndex.from_tuples(index)
pop = pop.reindex(index)
print(pop)
print(pop[:, 2010])
print("\n")
pop_df = pop.unstack()              # unstack() ➡️ Turns MultiIndex Series → DataFrame (years become columns)
print(pop_df)                       # stack() ➡️ DataFrame → Series with MultiIndex
print(pop_df.stack())       
print("\n")
pop_df = pd.DataFrame({
    'total': pop,
    'under18': [9267089, 9284094, 4687374, 4318033, 5906301, 6879014]
})
print(pop_df)
print("\n")
f_u18 = pop_df['under18'] / pop_df['total']
print(f_u18.unstack())

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64
California    37253956
New York      19378102
Texas         25145561
dtype: int64


                2000      2010
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64


                    total  under18
California 2000  33871648  9267089
           2010  37253956  9284094
New York   2000  18976457  4687374
           2010  19378102  4318033
Texas      2000  20851820  5906301
           2010  25145561  6879014


                2000      2010
California  0.273594  0.249211
New York    0.247010  0.222831
Texas       0.283251  0.273568

###  Methods of MultiIndex Creation

In [58]:
# Quick MultiIndex Creation Methods
df = pd.DataFrame(np.random.rand(4, 2),                         # From nested index lists
                  index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                  columns=['data1', 'data2'])
print(df)

data = {('California', 2000): 33871648,('California', 2010):37253956,       # From dictionaries with tuple keys
         ('New York', 2000):18976457, ('New York', 2010):19378102,
         ('Texas', 2000):20851820, ('Texas', 2010):25145561 }
data_multi=pd.Series(data)
print(data_multi)

print("\n")

# Explicit MultiIndex Constructors
pd.MultiIndex.from_arrays([['a', 'a', 'b', 'b'], [1, 2, 1, 2]])
pd.MultiIndex.from_tuples([('a', 1), ('a', 2), ('b', 1), ('b', 2)])
pd.MultiIndex.from_product([['a', 'b'], [1, 2]])        # a*1, a*2, b*1, b*2

        data1     data2
a 1  0.450386  0.741786
  2  0.168651  0.146264
b 1  0.628485  0.551222
  2  0.852978  0.721041
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [59]:
# Naming MultiIndex Levels
pop.index.names = ['state', 'year']
print(pop)

print("\n")

#  MultiIndex for Columns (Not Just Rows!)
index = pd.MultiIndex.from_product([[2013, 2014], [1, 2]], names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']], names=['subject', 'type'])

data = np.round(np.random.randn(4, 6), 1)
data[:, ::2] *= 10
data += 37                                  # DataFrame now holds 4D data: year × visit × subject × measurement_type

health_data = pd.DataFrame(data, index=index, columns=columns)
print(health_data)
print("")
print(health_data['Guido'])
print("")
pop[:, 2010]
sue = health_data['Sue']['HR']
print(sue)

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64


subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      31.0  37.2  43.0  37.6  35.0  37.9
     2      39.0  37.9  51.0  37.2  30.0  36.3
2014 1      49.0  36.5  42.0  35.9  39.0  36.9
     2      43.0  34.1  24.0  37.5  35.0  35.8

type          HR  Temp
year visit
2013 1      43.0  37.6
     2      51.0  37.2
2014 1      42.0  35.9
     2      24.0  37.5

year  visit
2013  1        35.0
      2        30.0
2014  1        39.0
      2        35.0
Name: HR, dtype: float64

###  Indexing and Slicing a MultiIndex

In [60]:
# Indexing a MultiIndexed Series
print(pop)
print("\n")
print(pop['California', 2000])          # Access single element
print(pop['California'])
print(pop.loc['California':'New York'])
print(pop[:, 2000])
print(pop[:, 2010])
print(pop[pop > 22000000])              # filters population values greater than 22 million
print(pop[['California', 'Texas']])

x = pop[['California','New York']]
print(x[:, 2010])

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64


33871648
year
2000    33871648
2010    37253956
dtype: int64
state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
dtype: int64
state
California    33871648
New York      18976457
Texas         20851820
dtype: int64
state
California    37253956
New York      19378102
Texas         25145561
dtype: int64
state       year
California  2000    33871648
            2010    37253956
Texas       2010    25145561
dtype: int64
state       year
California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
dtype: int64
state
California    37253956
New York      19378102
dtype: int64

In [61]:
# Indexing a MultiIndexed DataFrame
print(health_data)
print("")
print(health_data['Bob', 'HR'])
print(health_data.iloc[:2, :2])                 # return first row and columns
print(health_data.loc[:, ('Bob', 'HR')])        # select all row but only bobs HR columns

idx = pd.IndexSlice                                 # idx[:, 1]: All years, but visit 1 only
health_data.loc[idx[:, 1], idx[:, 'HR']]            # idx[:, 'HR']: All subjects, but HR data only

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      31.0  37.2  43.0  37.6  35.0  37.9
     2      39.0  37.9  51.0  37.2  30.0  36.3
2014 1      49.0  36.5  42.0  35.9  39.0  36.9
     2      43.0  34.1  24.0  37.5  35.0  35.8

year  visit
2013  1        31.0
      2        39.0
2014  1        49.0
      2        43.0
Name: (Bob, HR), dtype: float64
subject      Bob
type          HR  Temp
year visit
2013 1      31.0  37.2
     2      39.0  37.9
year  visit
2013  1        31.0
      2        39.0
2014  1        49.0
      2        43.0
Name: (Bob, HR), dtype: float64

subject      Bob Guido   Sue
type          HR    HR    HR
year visit
2013 1      31.0  43.0  35.0
2014 1      49.0  42.0  39.0

###  Rearranging Multi-Indices

In [62]:
# Sorted vs Unsorted MultiIndex
index = pd.MultiIndex.from_product([['a', 'c', 'b'], [1, 2]])
data = pd.Series(np.random.rand(6), index=index)
data.index.names = ['char', 'int']
print(data)
                                   # If your MultiIndex is not sorted, partial indexing (like data['a':'b']) will raise an error.
data = data.sort_index()           
print(data)
x = data ['a':'b']                 # First we have to sort than slicing works correctly 
print(x)                            

print("\n")

# Stacking and Unstacking
print(pop.unstack(level=0))        # Converts a MultiIndex Series → DataFrame
print(pop.unstack(level=1))

print(pop.unstack().stack())  # Restores original format

char  int
a     1      0.338451
      2      0.737322
c     1      0.467986
      2      0.237759
b     1      0.907629
      2      0.614070
dtype: float64
char  int
a     1      0.338451
      2      0.737322
b     1      0.907629
      2      0.614070
c     1      0.467986
      2      0.237759
dtype: float64
char  int
a     1      0.338451
      2      0.737322
b     1      0.907629
      2      0.614070
dtype: float64


state  California  New York     Texas
year
2000     33871648  18976457  20851820
2010     37253956  19378102  25145561
year            2000      2010
state
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561
state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [63]:
# Resetting and Setting Index
x = pop.reset_index(name='population')           # Converts index levels into regular columns.
print(x)
print("")
y = x.set_index(['state', 'year'])               # Creates a MultiIndex from one or more columns.
print(y)

        state  year  population
0  California  2000    33871648
1  California  2010    37253956
2    New York  2000    18976457
3    New York  2010    19378102
4       Texas  2000    20851820
5       Texas  2010    25145561

                 population
state      year
California 2000    33871648
           2010    37253956
New York   2000    18976457
           2010    19378102
Texas      2000    20851820
           2010    25145561

###  Data Aggregations on Multi-Indices

In [64]:
health_data
#  Aggregate on Row MultiIndex
data_mean = health_data.groupby(level='year').mean()
print(data_mean)

print("\n")

# Aggregate on Column MultiIndex
x = data_mean.groupby(axis=1, level='type').mean()
print(x)

subject   Bob        Guido         Sue
type       HR   Temp    HR  Temp    HR   Temp
year
2013     35.0  37.55  47.0  37.4  32.5  37.10
2014     46.0  35.30  33.0  36.7  37.0  36.35


type         HR       Temp
year
2013  38.166667  37.350000
2014  38.666667  36.116667

C:\Users\Ayush\AppData\Local\Temp\ipykernel_14372\1022751248.py:9: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  x = data_mean.groupby(axis=1, level='type').mean()

## Combining Datasets: Concat and Append

In [65]:
# Concatenating Series
ser1 = pd.Series(['A', 'B', 'C'], index=[1, 2, 3])
ser2 = pd.Series(['D', 'E', 'F'], index=[4, 5, 6])
x = pd.concat([ser1, ser2])
print(x)

print("\n")

def make_df(cols, ind):
    """Quickly make a DataFrame"""
    data = {c: [f"{c}{i}" for i in ind] for c in cols}
    return pd.DataFrame(data, index=ind)

# Concatenating DataFrames Vertically (axis=0)
df1 = make_df('AB', [1, 2])
df2 = make_df('AB', [3, 4])
y = pd.concat([df1, df2])
print(y)

print("\n")

# Concatenating Horizontally (axis=1 or 'col')
df3 = make_df('AB', [0, 1])
df4 = make_df('CD', [0, 1])
z = pd.concat([df3, df4], axis=1)  # axis='col' is invalid, use axis=1
print(z)

print("\n")

# Handling Duplicate Indexes
x = make_df('AB', [0, 1])
y = make_df('AB', [0, 1])
a = pd.concat([x, y])  # Duplicate indices allowed
print(a)
# pd.concat([x, y], verify_integrity=True)             # Aviod dupicate index


b = pd.concat([x, y], ignore_index=True)                  # Reset index after concat
print(b)


c = pd.concat([x, y], keys=['x', 'y'])                # Using keys= for MultiIndex
print(c)

1    A
2    B
3    C
4    D
5    E
6    F
dtype: object


    A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4


    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1


    A   B
0  A0  B0
1  A1  B1
0  A0  B0
1  A1  B1
    A   B
0  A0  B0
1  A1  B1
2  A0  B0
3  A1  B1
      A   B
x 0  A0  B0
  1  A1  B1
y 0  A0  B0
  1  A1  B1

In [66]:
# Concatenation with Different Columns (Join Behavior)
df5 = make_df('ABC', [1, 2])
df6 = make_df('BCD', [3, 4])

# Default: Outer join (union of columns)
x = pd.concat([df5, df6])
print(x)

# Inner join (intersection of columns)
y = pd.concat([df5, df6], join='inner')
print(y)

# Manually reindex to specific columns
z = pd.concat([df5, df6])[df6.columns]
print(z)

# instead of append here we use concat

     A   B   C    D
1   A1  B1  C1  NaN
2   A2  B2  C2  NaN
3  NaN  B3  C3   D3
4  NaN  B4  C4   D4
    B   C
1  B1  C1
2  B2  C2
3  B3  C3
4  B4  C4
    B   C    D
1  B1  C1  NaN
2  B2  C2  NaN
3  B3  C3   D3
4  B4  C4   D4

In [67]:
df1 = pd.DataFrame({'A': ['A1', 'A2'], 'B': ['B1', 'B2']})
df2 = pd.DataFrame({'A': ['A3', 'A4'], 'B': ['B3', 'B4']})

print(pd.concat([df1,df2],ignore_index=True))

    A   B
0  A1  B1
1  A2  B2
2  A3  B3
3  A4  B4

##  Combining Datasets: Merge and Join

### Types of Joins

In [68]:
# One-to-One Join
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})
df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
                    'hire_date': [2004, 2008, 2012, 2014]})
p = pd.merge(df1, df2)
print(p)

print("\n")

# Many-to-One Join
df3 = pd.merge(df1, df2)
df4 = pd.DataFrame({'group': ['Accounting', 'Engineering', 'HR'],
                    'supervisor': ['Carly', 'Guido', 'Steve']})
q = pd.merge(df3, df4)
print(q)

print("\n")

# Many-to-Many Join
df5 = pd.DataFrame({'group': ['Accounting', 'Accounting',
                              'Engineering', 'Engineering', 'HR', 'HR'],
                    'skills': ['math', 'spreadsheets', 'coding', 'linux',
                               'spreadsheets', 'organization']})
r = pd.merge(df1, df5)
print(r)

  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014


  employee        group  hire_date supervisor
0      Bob   Accounting       2008      Carly
1     Jake  Engineering       2012      Guido
2     Lisa  Engineering       2004      Guido
3      Sue           HR       2014      Steve


  employee        group        skills
0      Bob   Accounting          math
1      Bob   Accounting  spreadsheets
2     Jake  Engineering        coding
3     Jake  Engineering         linux
4     Lisa  Engineering        coding
5     Lisa  Engineering         linux
6      Sue           HR  spreadsheets
7      Sue           HR  organization

### Merge with Different Column Names

In [69]:
# Merge parameters
#   📌 on='column_name' :- Specify common key column.
print(pd.merge(df1, df2, on='employee'))

#   📌 left_on='col1', right_on='col2' :- Used when key column names differ(name in first & employee in second)
#    in the two DataFrames. we can also drop one by .drop('name', axis=1)
df3 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
 'salary': [70000, 80000, 120000, 90000]})
print(pd.merge(df3, df1, left_on="name", right_on="employee"))
print(pd.merge(df1, df3, left_on="employee", right_on="name").drop('name', axis=1))

#   📌 left_index=True, right_index=True :- Merge using DataFrame indexes.
df1a = df1.set_index('employee')
df2a = df2.set_index('employee')
print(pd.merge(df1a, df2a, left_index=True, right_index=True))

#   📌 .join() method :- performs a merge that defaults to joining on indices 
print(df1a.join(df2a))

  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014
   name  salary employee        group
0   Bob   70000      Bob   Accounting
1  Jake   80000     Jake  Engineering
2  Lisa  120000     Lisa  Engineering
3   Sue   90000      Sue           HR
  employee        group  salary
0      Bob   Accounting   70000
1     Jake  Engineering   80000
2     Lisa  Engineering  120000
3      Sue           HR   90000
                group  hire_date
employee
Bob        Accounting       2008
Jake      Engineering       2012
Lisa      Engineering       2004
Sue                HR       2014
                group  hire_date
employee
Bob        Accounting       2008
Jake      Engineering       2012
Lisa      Engineering       2004
Sue                HR       2014

### Join Types via how parameter

In [70]:

df6 = pd.DataFrame({'name': ['Peter', 'Paul', 'Mary'],
                    'food': ['fish', 'beans', 'bread']})
df7 = pd.DataFrame({'name': ['Mary', 'Joseph'],
                    'drink': ['wine', 'beer']})

# Inner join (default) :- Only rows with matching keys in both DataFrames.
print(pd.merge(df6, df7))
# Outer join :- All rows from both, with NaN for missing values.
print(pd.merge(df6, df7, how='outer'))
# Left join :- All rows from the left DataFrame.
print(pd.merge(df6, df7, how='left'))
# Right join :-All rows from the right DataFrame.
print(pd.merge(df6, df7, how='right'))

   name   food drink
0  Mary  bread  wine
     name   food drink
0  Joseph    NaN  beer
1    Mary  bread  wine
2    Paul  beans   NaN
3   Peter   fish   NaN
    name   food drink
0  Peter   fish   NaN
1   Paul  beans   NaN
2   Mary  bread  wine
     name   food drink
0    Mary  bread  wine
1  Joseph    NaN  beer

### Handling Overlapping Column Names

In [71]:
df8 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'], 'rank': [1, 2, 3, 4]})
df9 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'], 'rank': [3, 1, 4, 2]})
print(pd.merge(df8, df9, on="name", suffixes=["_L", "_R"]))

# Use suffixes to handle overlapping columns (rank_x, rank_y by default).

   name  rank_L  rank_R
0   Bob       1       3
1  Jake       2       1
2  Lisa       3       4
3   Sue       4       2

## Aggregation and Grouping

### Simple Aggregation in Pandas

In [72]:
rng = np.random.RandomState(42)
ser = pd.Series(rng.rand(5))
print(ser)
print(ser.sum())
print(ser.mean())
print(ser.median())

print("\n")

df = pd.DataFrame({'A':rng.random(5)*100,
                   'B':rng.rand(5)*100})
print(df)
print(df.sum())
print(df.mean())
print(df.mean(axis=1))     # coloumn wise mean
print(df.mean('columns'))     

print(df.min())
print(df.max())
print(df.var())
print(df.std())
df.describe()            # Gives count, mean, std, min, 25%, 50%, 75%, max in one go.

0    0.374540
1    0.950714
2    0.731994
3    0.598658
4    0.156019
dtype: float64
2.811925491708157
0.5623850983416314
0.5986584841970366


           A          B
0  15.599452   2.058449
1   5.808361  96.990985
2  86.617615  83.244264
3  60.111501  21.233911
4  70.807258  18.182497
A    238.944187
B    221.710107
dtype: float64
A    47.788837
B    44.342021
dtype: float64
0     8.828951
1    51.399673
2    84.930939
3    40.672706
4    44.494877
dtype: float64
0     8.828951
1    51.399673
2    84.930939
3    40.672706
4    44.494877
dtype: float64
A    5.808361
B    2.058449
dtype: float64
A    86.617615
B    96.990985
dtype: float64
A    1246.971642
B    1822.875957
dtype: float64
A    35.312486
B    42.695151
dtype: float64

               A          B
count   5.000000   5.000000
mean   47.788837  44.342021
std    35.312486  42.695151
min     5.808361   2.058449
25%    15.599452  18.182497
50%    60.111501  21.233911
75%    70.807258  83.244264
max    86.617615  96.990985

###  GroupBy: Split, Apply, Combine

* The split step involves breaking up and grouping a DataFrame depending on the
 value of the specified key.
+ The apply step involves computing some function, usually an aggregate, transformation, or filtering, within the individual groups.
- The combine step merges the results of these operations into an output array.

In [73]:
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
 'data': range(6)}, columns=['key', 'data'])
a = df.groupby('key')            # groupby() doesn’t compute immediately — it returns a lazy GroupBy object
print(a)
df.groupby('key').sum()          # You then apply functions like sum(), mean(), or .aggregate()

print("\n")

rng = np.random.RandomState(0)
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
 'data1': range(6),
 'data2': rng.randint(0, 10, 6)},
columns = ['key', 'data1', 'data2'])
print(df)
#  Aggregate :- Takes a string, a function, or a list thereof, and compute all the aggregates at once
x = df.groupby('key').aggregate(['min', "median", "max"])
print(x)
y = df.groupby('key').aggregate({'data1': 'min',
                             'data2': 'max'})
print(y)

# Filter :-  A filtering operation allows you to drop data based on the group properties.
def filter_func(x):
    return x['data2'].std()>4
print(df.groupby('key').std())
print(df.groupby('key').filter(filter_func)) 

# Transformation :- Returns data of same shape as input; often used for normalization or centering.
a =  df.groupby('key').transform(lambda x: x - 3)
print(a)

# Apply :- lexible method to apply custom functions to each group.
def norm_by_data2(x):
    x['data1'] /= x['data2'].sum()
    return x

b = df.groupby('key').apply(norm_by_data2)
print(b)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001805961D010>


  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9
    data1            data2
      min median max   min median max
key
A       0    1.5   3     3    4.0   5
B       1    2.5   4     0    3.5   7
C       2    3.5   5     3    6.0   9
     data1  data2
key
A        0      5
B        1      7
C        2      9
       data1     data2
key
A    2.12132  1.414214
B    2.12132  4.949747
C    2.12132  4.242641
  key  data1  data2
1   B      1      0
2   C      2      3
4   B      4      7
5   C      5      9
   data1  data2
0     -3      2
1     -2     -3
2     -1      0
3      0      0
4      1      4
5      2      6
      key     data1  data2
key
A   0   A  0.000000      5
    3   A  0.375000      3
B   1   B  0.142857      0
    4   B  0.571429      7
C   2   C  0.166667      3
    5   C  0.416667      9

C:\Users\Ayush\AppData\Local\Temp\ipykernel_14372\1175243219.py:37: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  b = df.groupby('key').apply(norm_by_data2)

## Pivot Table

* A pivot table summarizes data in a 2D table format using one or more categorical variables (index/columns) to group data and an aggregation function (default: mean) to reduce data.

In [74]:
data = {
    'student': ['Alice', 'Bob', 'Alice', 'Bob', 'Charlie', 'Charlie'],
    'subject': ['Math', 'Math', 'Science', 'Science', 'Math', 'Science'],
    'score': [90, 85, 95, 80, 70, 75]
        }
df = pd.DataFrame(data)
print(df)
# Simple pivot table
x = df.pivot_table(values='score',index='student',columns='subject')
print(x)

# Using aggfunc='sum' to change aggregation
y = df.pivot_table(values='score', index='student', columns='subject', aggfunc='sum')
print(y)                # useful if there were duplicate rows

#  Add margins=True to see totals
z = df.pivot_table(values='score', index='student', columns='subject', margins=True)
print(z)                # "All" row/column shows the average across rows and columns.

   student  subject  score
0    Alice     Math     90
1      Bob     Math     85
2    Alice  Science     95
3      Bob  Science     80
4  Charlie     Math     70
5  Charlie  Science     75
subject  Math  Science
student
Alice    90.0     95.0
Bob      85.0     80.0
Charlie  70.0     75.0
subject  Math  Science
student
Alice      90       95
Bob        85       80
Charlie    70       75
subject       Math    Science   All
student
Alice    90.000000  95.000000  92.5
Bob      85.000000  80.000000  82.5
Charlie  70.000000  75.000000  72.5
All      81.666667  83.333333  82.5

In [75]:
# Multi-level Index Example
df2 = pd.DataFrame({
    'student': ['Alice', 'Alice', 'Bob', 'Bob', 'Charlie', 'Charlie'],
    'subject': ['Math', 'Science', 'Math', 'Science', 'Math', 'Science'],
    'score': [88, 92, 81, 79, 73, 70],
    'year': [2023, 2023, 2023, 2023, 2024, 2024]
})

# Average score per student per year
a = df2.pivot_table(values='score', index=['student', 'year'], columns='subject')
print(a)

# Count instead of mean
b = df.pivot_table(index='student', columns='subject', values='score', aggfunc='count')
print(b)            # if one student has two math score it will count 2

# Handling missing values
df_missing = df.copy()
df_missing.loc[5, 'score'] = None
c = df_missing.pivot_table(values='score', index='student', columns='subject', fill_value=9999)
print(c)

# Use multiple aggregation funtion 
d = df.pivot_table(values='score', index='student', aggfunc=['mean', 'max'])
print(d)

subject       Math  Science
student year
Alice   2023  88.0     92.0
Bob     2023  81.0     79.0
Charlie 2024  73.0     70.0
subject  Math  Science
student
Alice       1        1
Bob         1        1
Charlie     1        1
subject  Math  Science
student
Alice    90.0     95.0
Bob      85.0     80.0
Charlie  70.0   9999.0
         mean   max
        score score
student
Alice    92.5    95
Bob      82.5    85
Charlie  72.5    75

##  Vectorized String Operations

In [76]:
# Python native method (fails on None):
# [s.capitalize() for s in ['peter', None, 'Paul']]     # Error

# Pandas handles with .str
print(pd.Series(['peter', None, 'Paul']).str.capitalize())

name = pd.Series(['Graham Chapman', 'John Cleese'])
print(name.str.lower())  # Applies .lower() to each string

0    Peter
1     None
2     Paul
dtype: object
0    graham chapman
1       john cleese
dtype: object

In [77]:
monte = pd.Series([
    'Graham Chapman', 'John Cleese', 'Terry Gilliam',
    'Eric Idle', 'Terry Jones', 'Michael Palin'
])
# Types of string methods
print(monte.str.len())          # String lengths
print(monte.str.startswith('T')) # Boolean mask
print(monte.str.split())       # Lists of words
print(monte.str.strip())

# Regex-based Methods
print(monte.str.extract('([A-Za-z+])'))         # .extract() – Extract pattern
print(monte.str.findall(r'^[^AEIOU].*[^aeiou]$'))   # .findall() – Find all matching patterns
print(monte.str.contains('[Tt]erry'))             # .contains() – Check presence

0    14
1    11
2    13
3     9
4    11
5    13
dtype: int64
0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool
0    [Graham, Chapman]
1       [John, Cleese]
2     [Terry, Gilliam]
3         [Eric, Idle]
4       [Terry, Jones]
5     [Michael, Palin]
dtype: object
0    Graham Chapman
1       John Cleese
2     Terry Gilliam
3         Eric Idle
4       Terry Jones
5     Michael Palin
dtype: object
   0
0  G
1  J
2  T
3  E
4  T
5  M
0    [Graham Chapman]
1                  []
2     [Terry Gilliam]
3                  []
4       [Terry Jones]
5     [Michael Palin]
dtype: object
0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

In [78]:
# Miscellaneous .str method
print(monte.str.slice(0, 3))            #slice() – Extract substring
print(monte.str.split().str.get(0))     #get() – Get item at index
print(monte.str.cat(sep=', '))          #cat() – Join strings
print(monte.str.repeat(2))              #repeat() – Repeat strings
print(monte.str.split().str.get(-1))    #give last name

full_monte = pd.DataFrame({             #get_dummies() – Dummy encoding
    'name': monte,
    'info': ['B|C|D', 'B|D', 'A|C', 'B|D', 'B|C', 'B|C|D']
})
full_monte['info'].str.get_dummies('|')

0    Gra
1    Joh
2    Ter
3    Eri
4    Ter
5    Mic
dtype: object
0     Graham
1       John
2      Terry
3       Eric
4      Terry
5    Michael
dtype: object
Graham Chapman, John Cleese, Terry Gilliam, Eric Idle, Terry Jones, Michael Palin
0    Graham ChapmanGraham Chapman
1          John CleeseJohn Cleese
2      Terry GilliamTerry Gilliam
3              Eric IdleEric Idle
4          Terry JonesTerry Jones
5      Michael PalinMichael Palin
dtype: object
0    Chapman
1     Cleese
2    Gilliam
3       Idle
4      Jones
5      Palin
dtype: object

   A  B  C  D
0  0  1  1  1
1  0  1  0  1
2  1  0  1  0
3  0  1  0  1
4  0  1  1  0
5  0  1  1  1

## Working with Time Series

* Time stamps reference particular moments in time (e.g., July 4th, 2015, at 7:00a.m.)

* Time intervals reference a length of time between a particular beginning and end point
* Periods usually reference a special case of time intervals in which each interval is of uniform length and does  not overlap

* Time deltas or durations reference an exact length of time (e.g., a duration of 22.56 seconds).

    YYYY-MM-DD

In [79]:
date = pd.to_datetime("29th of September,2006")
print(date)
print(date.strftime('%A'))

date + pd.to_timedelta(np.arange(12),'D')

2006-09-29 00:00:00
Friday

DatetimeIndex(['2006-09-29', '2006-09-30', '2006-10-01', '2006-10-02',
               '2006-10-03', '2006-10-04', '2006-10-05', '2006-10-06',
               '2006-10-07', '2006-10-08', '2006-10-09', '2006-10-10'],
              dtype='datetime64[ns]', freq=None)

In [80]:
dates = pd.to_datetime([2015, 7, 3, '4th of July, 2015', # type: ignore
 '2015-Jul-6', '07-07-2015', '20150708'])
print(dates)

index = pd.DatetimeIndex(['2014-07-04', '2014-08-04', '2015-07-04', '2015-08-04'])
data = pd.Series([0, 1, 2, 3], index=index)
print(data)                                     # Pandas Time Series: Indexing by Time
print(data['2014-07-04':'2015-07-04'])
print(data['2015'])

dates = pd.to_datetime([2015, 7, 3, '4th of July, 2015', # type: ignore
 '2015-Jul-6', '07-07-2015', '20150708'])
print(dates.to_period('D'))
x = dates - dates[1]
print(x)

DatetimeIndex(['1970-01-01 00:00:00.000002015',
               '1970-01-01 00:00:00.000000007',
               '1970-01-01 00:00:00.000000003',
                         '2015-07-04 00:00:00',
                         '2015-07-06 00:00:00',
                         '2015-07-07 00:00:00',
                         '2015-07-08 00:00:00'],
              dtype='datetime64[ns]', freq=None)
2014-07-04    0
2014-08-04    1
2015-07-04    2
2015-08-04    3
dtype: int64
2014-07-04    0
2014-08-04    1
2015-07-04    2
dtype: int64
2015-07-04    2
2015-08-04    3
dtype: int64
PeriodIndex(['1970-01-01', '1970-01-01', '1970-01-01', '2015-07-04',
             '2015-07-06', '2015-07-07', '2015-07-08'],
            dtype='period[D]')
TimedeltaIndex([    '0 days 00:00:00.000002008',
                              '0 days 00:00:00',
                  '-1 days +23:59:59.999999996',
                '16619 days 23:59:59.999999993',
                '16621 days 23:59:59.999999993',
                '16622 days 23:59:59.999999993',
                '16623 days 23:59:59.999999993'],
               dtype='timedelta64[ns]', freq=None)

In [81]:
print(pd.date_range('2006-09-29','2006-10-10'))
print(pd.date_range('2006-09-29',periods=11))
print(pd.date_range('2006-09-29',periods=4,freq='h'))
print(pd.period_range('2015-07', periods=8, freq='M'))
print(pd.timedelta_range(0, periods=10, freq='h'))

DatetimeIndex(['2006-09-29', '2006-09-30', '2006-10-01', '2006-10-02',
               '2006-10-03', '2006-10-04', '2006-10-05', '2006-10-06',
               '2006-10-07', '2006-10-08', '2006-10-09', '2006-10-10'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2006-09-29', '2006-09-30', '2006-10-01', '2006-10-02',
               '2006-10-03', '2006-10-04', '2006-10-05', '2006-10-06',
               '2006-10-07', '2006-10-08', '2006-10-09'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2006-09-29 00:00:00', '2006-09-29 01:00:00',
               '2006-09-29 02:00:00', '2006-09-29 03:00:00'],
              dtype='datetime64[ns]', freq='h')
PeriodIndex(['2015-07', '2015-08', '2015-09', '2015-10', '2015-11', '2015-12',
             '2016-01', '2016-02'],
            dtype='period[M]')
TimedeltaIndex(['0 days 00:00:00', '0 days 01:00:00', '0 days 02:00:00',
                '0 days 03:00:00', '0 days 04:00:00', '0 days 05:00:00',
                '0 days 06:00:00', '0 days 07:00:00', '0 days 08:00:00',
                '0 days 09:00:00'],
               dtype='timedelta64[ns]', freq='h')

### Frequency and Offsets
- D = day  
- W = week        
- M = month end
- Q = quarter end        
- A = year end       
- B = business day(mon-fri)
- h = hours        
- min = minutes        
- s = second
- BH = business hour(9am-5pm)

- Adding an S suffix to any of these marks it instead at the beginning
- MS = Month start
- AS = Year start
- Additionally, you can change the month used to mark any quarterly or annual code by adding a three-letter month code as a suffix:
- Q-JAN, BQ-FEB, QS-MAR, BQS-APR, etc.
- A-JAN, BA-FEB, AS-MAR, BAS-APR, etc.
- W-SUN, W-MON, W-TUE, W-WED, etc.

In [82]:
y = pd.date_range('2023-01-01', periods=4, freq='QE-MAR')
print(y)
z = pd.date_range('2023-01-01', periods=4, freq='W-MON')
print(z)
x = pd.timedelta_range(0, periods=9, freq="2h30min15s")
print(x)

DatetimeIndex(['2023-03-31', '2023-06-30', '2023-09-30', '2023-12-31'], dtype='datetime64[ns]', freq='QE-MAR')
DatetimeIndex(['2023-01-02', '2023-01-09', '2023-01-16', '2023-01-23'], dtype='datetime64[ns]', freq='W-MON')
TimedeltaIndex(['0 days 00:00:00', '0 days 02:30:15', '0 days 05:00:30',
                '0 days 07:30:45', '0 days 10:01:00', '0 days 12:31:15',
                '0 days 15:01:30', '0 days 17:31:45', '0 days 20:02:00'],
               dtype='timedelta64[ns]', freq='9015s')

##  High-Performance Pandas: eval() and query()

### pd.eval()
* Efficient Evaluation Across Multiple DataFrames
* It is faster and use less memory

In [95]:
rng = np.random.RandomState(42)
df1, df2, df3, df4 = (pd.DataFrame(rng.rand(10000, 100))for i in range(4))
%timeit df1, df2, df3, df4
%timeit pd.eval('df1, df2, df3, df4')

38.6 ns ± 4.41 ns per loop (mean ± std. dev. of 7 runs, 10,000,000 loops each)
171 μs ± 16.4 μs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

### df.eval() 
- Column-wise Efficient Expression
- Allows expressions like A + B to be computed using column names as variables.
- Clean, readable syntax (no need for df['A'], etc.)

In [199]:
df = pd.DataFrame(rng.rand(1000, 4), columns=['A', 'B', 'C', 'D'])
# without eval
result1 = (df['A']+df['B']+100)/(df['C']-12)
print(result1)
# with eval 
result2 = df.eval('(A+B+100)/(C-12)')
print(result2)
# Confirm they are the same
x = np.allclose(result1, result2)
print(x)

# use @ for local variable
column_mean = df.mean(1)
y = df.eval('A + @column_mean')
print(y)

0     -8.534038
1     -9.054518
2     -8.942123
3     -8.909376
4     -8.622765
         ...
995   -9.091049
996   -8.475850
997   -9.150820
998   -8.716246
999   -8.954645
Length: 1000, dtype: float64
0     -8.534038
1     -9.054518
2     -8.942123
3     -8.909376
4     -8.622765
         ...
995   -9.091049
996   -8.475850
997   -9.150820
998   -8.716246
999   -8.954645
Length: 1000, dtype: float64
True
0      1.276065
1      1.594856
2      0.687041
3      0.839949
4      0.737165
         ...
995    1.286755
996    1.495889
997    1.435565
998    1.276432
999    0.807625
Length: 1000, dtype: float64

### df.query()
- Efficient Row Filtering
- Filters rows using a SQL-like string expression
- Cleaner than boolean indexing

In [215]:
# without query
x= df[(df['A']< 0.4)&(df['B']<0.5)]
print(x)
# with query
y= df.query('A<0.5 and B<0.5')
print(y)

# with @ for local variable
mean_C = df['C'].mean()
z= df.query('A < @mean_C and B < @mean_C')
print(z)

            A         B         C         D
3    0.373542  0.244159  0.706538  0.541386
8    0.296669  0.040845  0.954541  0.180569
12   0.258522  0.279411  0.536658  0.943090
16   0.108400  0.128349  0.870789  0.883055
24   0.190354  0.109986  0.782239  0.021324
..        ...       ...       ...       ...
974  0.370844  0.303948  0.441860  0.279703
975  0.270069  0.236545  0.017831  0.953593
983  0.061200  0.452993  0.234526  0.454970
984  0.010198  0.344584  0.022300  0.438133
999  0.336274  0.174289  0.775594  0.599245

[226 rows x 4 columns]
            A         B         C         D
3    0.373542  0.244159  0.706538  0.541386
4    0.464618  0.208414  0.324739  0.092413
5    0.490764  0.304242  0.561553  0.341547
6    0.457464  0.386757  0.185577  0.343482
8    0.296669  0.040845  0.954541  0.180569
..        ...       ...       ...       ...
974  0.370844  0.303948  0.441860  0.279703
975  0.270069  0.236545  0.017831  0.953593
983  0.061200  0.452993  0.234526  0.454970
984  0.010198  0.344584  0.022300  0.438133
999  0.336274  0.174289  0.775594  0.599245

[289 rows x 4 columns]
            A         B         C         D
3    0.373542  0.244159  0.706538  0.541386
4    0.464618  0.208414  0.324739  0.092413
5    0.490764  0.304242  0.561553  0.341547
6    0.457464  0.386757  0.185577  0.343482
8    0.296669  0.040845  0.954541  0.180569
..        ...       ...       ...       ...
974  0.370844  0.303948  0.441860  0.279703
975  0.270069  0.236545  0.017831  0.953593
983  0.061200  0.452993  0.234526  0.454970
984  0.010198  0.344584  0.022300  0.438133
999  0.336274  0.174289  0.775594  0.599245

[292 rows x 4 columns]

In [219]:
df.values.nbytes

32000